EDCB-Wine/EDCB/**/*.bin
EDCB-Wine/EDCB/**/*.ini
EDCB-Wine/EDCB/**/*.crt
EDCB-Wine/EDCB/**/*.key
EDCB-Wine/EDCB/**/*.pem
EDCB-Wine/EDCB/**/*DebugLog*.txt
EDCB-Wine/EDCB/EpgTimerSrvNotify.log
EDCB-Wine/EDCB/Setting/*
EDCB-Wine/EDCB/WinSCard*
!EDCB-Wine/EDCB/Bitrate.ini
!EDCB-Wine/EDCB/BonCtrl.ini
!EDCB-Wine/EDCB/BonDriver/*.ini
!EDCB-Wine/EDCB/Setting/HttpPublic.ini
!EDCB-Wine/EDCB/Setting/XCODE_OPTIONS.lua
!EDCB-Wine/EDCB/**/*.example.ini
EDCB-Wine/Xfce/.cache/
EDCB-Wine/Xfce/.config/dconf/
EDCB-Wine/Xfce/.config/fcitx/
EDCB-Wine/Xfce/.config/fcitx5/
EDCB-Wine/Xfce/.config/ibus/
EDCB-Wine/Xfce/.config/mozc/
EDCB-Wine/Xfce/.config/pulse/
EDCB-Wine/Xfce/.dbus/
EDCB-Wine/Xfce/.local/
EDCB-Wine/Xfce/.wine64/
EDCB-Wine/Xfce/.ICEauthority
EDCB-Wine/Xfce/core
EDCB-Wine/wine-mount.sh

Amatsukaze/cron/queue/*
EDCB/EpgTimer_Bon_RecEnd.bat

!.gitkeep
